.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.service {
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}

/* .service:hover {
  background: rgba(0, 0, 0, 0.4);
  border-color: var(--color-primary-variant);
  cursor: default;
} */

.service__head {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
  color: var(--color-bg);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.service__list {
  padding: 2.5rem;
}

.service__list li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.service__list li:last-child {
  margin-bottom: 0;
}

.service__list-icon {
  color: var(--color-primary);
  font-size: 1.2rem;
  min-width: 1.2rem;
  margin-top: 0.15rem;
  flex-shrink: 0;
}

.service__list p {
  font-size: 0.95rem;
  line-height: 1.6;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service {
    height: auto;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
